{% extends "user/profile/base.htm" %}

{% block title %}{{ user.name }} {{ _('roles') }}{% endblock %}

{% block content %}
    <legend>{{ _('User roles') }}</legend>

    <div class="row">
        <div class="col">
            <h5>{{ _('All roles') }}</h5>
            <hr>
            {% for role, groups in user_roles_with_groups.items() %}
                <dl>
                    <dt>{{ role.value }}</dt>
                    <dd>
                        {{ groups | map(attribute='name') | join(', ') }}
                    </dd>
                </dl>
            {% else %}
                {% if current_user == user %}
                    {{ _("You don't have any roles.") }}
                {% else %}
                    {{ _("User does not have any roles.") }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <h5>{{ _('All groups') }}</h5>
            <hr>
            {% for group, roles in user_groups_with_roles.items() %}
                <dl>
                    <dt>{{ group.name }}</dt>
                    <dd>
                        {{ roles | map(attribute='value') | join(', ') }}
                    </dd>
                </dl>
            {% endfor %}
        </div>
    </div>

{% endblock %}
