{% extends "content.htm" %}

{% block title %}
{%- if error -%}
{{ _('An error has occurred.') }}
{%- else -%}
{{ _('Unsubscribed from mailing list') }}
{%- endif -%}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% if error %}
            <div class="alert alert-danger">
                <h5 class="alert-heading">{{  _('An error has occurred.') }}</h5>
                {{ _('The unsubscribe link is possibly invalid.') }}
            </div>
            {% else %}
            <div class="alert alert-success">
                <h5 class="alert-heading">{{ _('You have been unsubscribed sucessfully.') }}</h5>
                {{  _('You will no longer receive emails from the mailing list \'%(name)s\'.', name=mailinglist_name) }}
            </div>
            {% endif %}
            <div class="alert alert-info">
                <i class="fas fa-info-circle"></i>
                {{ _("You can edit your mailing list preferences in your <a href='%(url)s'>profile settings</a>.", url=url_for("user.edit_user", user=current_user)) }}
            </div>
        </div>
    </div>
{% endblock %}
