{% extends 'base.htm' %}

{% from 'macros/domjudge.htm' import problem_badge_style %}

{% block title %}
    {{ contest.name }} - {{ _('Problems') }}
{% endblock %}

{% block page %}
{% if contest %}
<h1>{{ contest.name }}</h1>
<legend>{{ _('Problems') }}</legend>

<div class="row">
    <div class='col-md-12'>
        <ul class="list-group">
        {% for problem in problems %}
            <li class="list-group-item">
                <p class="domjudge-problem-badge"
                    style="{{ problem_badge_style(problem) }}; margin-right: 20px;">
                    <i class="fas fa-flag"></i>
                </p>
                {# TODO: clean this horrible hacky CSS mess #}
                <span class="domjudge-problem-link"
                    style="display: inline-block; width: 60%; height: 30px;">
                    <a href="{{ url_for('domjudge.contest_problem_view', contest_id=contest.id, problem_id=problem.id) }}">
                        <i class="fas fa-cloud-download-alt"></i>
                        {{ problem.name }}
                    </a>
                </span>
                <a class="btn btn-primary" style="float: right"
                    href="{{ url_for('domjudge.contest_problem_submit', contest_id=contest.id, problem_id=problem.id) }}">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span class="d-none d-sm-inline-block">{{ _('Submit solution') }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="control-group mt-2">
    <div class="controls btn-group">
        <a href="{{ url_for('domjudge.contest_view', contest_id=contest.id) }}" class='btn btn-primary'>
            <i class="fas fa-arrow-left"></i> {{_('Back')}}
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
