<template lang="pug">
div(v-bind:class="{ 'loading-container-overlay': active }")
    .loading-container
        .spinner-container(v-if="active")
            .spinner
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade
                .spinner__blade

        .loading-container-child
            slot
</template>

<style lang="sass" scoped>

.loading-container
    position: relative
    width: 100%
    height: 100%

    .loading-container-child
        width: 100%
        height: 100%

    .spinner-container
        position: absolute
        width: 100%
        height: 300px
        z-index: 1061

        display: flex
        align-items: center
        justify-content: center

.loading-container-overlay
    pointer-events: none
    opacity: 1

    .loading-container-child
        opacity: 0.1

.spinner
    position: relative
    width: 35px
    height: 35px

    .spinner__blade
        background-color: #8c8c8c
        // background-color: white

        position: absolute
        left: 44.5%
        top: 37%
        width: 100% / 35 * 3
        height: 100% / 35 * 9
        border-radius: 50% / 16.67%
        animation: spinnerAnimation 1s linear infinite
        will-change: opacity

        @for $i from 1 through 12
            &:nth-child(#{$i})
                animation-delay: 1s / 12 * ($i - 21)
                transform: rotate(#{360deg / 12 * $i}) translate(0, -150%)

@keyframes spinnerAnimation
    0%
        opacity: 0.85
    50%
        opacity: 0.25
    100%
        opacity: 0.25
</style>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class LoadingContainer extends Vue {
    @Prop() public active: boolean;
}
</script>
