{% from "macros/form.htm" import render_field, render_checkbox, render_submit %}
{% from "user/macros/uvanetid.htm" import render_uvanetid_signin_button %}
    <nav class="navbar navbar-expand-md navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header d-flex">

                <!-- The mobile nav toggle -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"  aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- The (svg) logo -->
                <a class="navbar-brand" href="/"><img src="{{ navigation_view.icon_uri }}" width="110"/></a>

                <!-- Dropdowns buttons for small menu -->
                <div class="navbar-right">
                    <button class="btn btn-link" data-target="#navbar-collapse-1" data-toggle="collapse">
{#                        TODO Do we like this icon? #}
                        <i class="d-block d-md-none fas fa-large fa-globe-europe"></i>
                    </button>
                    <button class="btn btn-link" data-target="#navbar-collapse-2" data-toggle="collapse">
                        {% if current_user.is_anonymous %}
                            <i class="d-block d-md-none fas fa-large fa-user" ></i>
                        {% else %}
                            <img class="d-block d-md-none img-rounded" src="{{ url_for('user.view_avatar') }}" id="loginImageMobile">
                        {% endif %}
                    </button>
                </div>
            </div>

            <!-- The actual navigation menu -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for entry in navigation_bar_entries %}

                        {% if entry.activity_list %}
                        <li class="dropdown navbar-item">
                            <a href="{{ entry.href }}" class="nav-link dropdown-toggle">{{ entry.title }}</a>
                            <ul class="dropdown-menu dropdown-menu-activity">
                                {% for activity in entry.activities %}
                                <div>
                                    <a class="nav-link" href="{{ url_for('activity.get_activity', activity=activity)}}">
                                        <small class="float-right">{{ activity.till_now() }}</small>
                                        {{ activity.name }}
                                        <small class="invisible"> {{ activity.till_now() }}</small>
                                    </a>
                                </div>
                                {% endfor %}
                            </ul>
                        </li>
                        {% else %}
                        <li class="{% if navigation_get_children(entry, current_user) %}dropdown{% endif %} navbar-item">
                            <a class="nav-link{% if entry.children %} dropdown-toggle{% endif %}"
                               {% if entry.external %}target="_blank"{% endif %}
                               href="{{ entry.href }}">
                                {{ entry.title }}
                            </a>

                            <ul class="dropdown-menu">
                                {% for child in navigation_get_children(entry, current_user) %}
                                    <div {% if child.children %}class="dropdown-submenu"{% endif %}>
                                        <a class="nav-link{% if entry.children %} dropdown-toggle {% endif %}" {% if child.external %}target="_blank"{% endif %} href="{{ child.href }}">
                                        {% if child.subtitle is defined%}
                                            <small class="float-right"> {{ child.subtitle|truncate(40)  }}</small>
                                        {% endif %}
                                        {{ child.title }}
                                        {% if child.subtitle is defined %}
                                            <small class="invisible"> {{ child.subtitle|truncate(40)  }}</small>
                                        {% endif %}
                                        </a>
                                        <div class="dropdown-menu">
                                            {% for grand_child in child.children %}
                                                <a class="nav-link d-block" href="{{ grand_child.href }}">{{ grand_child.title }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Dropdowns containers for small menu -->
            <div class="collapse navbar-collapse login-container small" id="navbar-collapse-1">
                {% include 'navigation/language_dropdown.htm' %}
            </div>
            <div class="collapse navbar-collapse login-container small" id="navbar-collapse-2">
                {% include 'navigation/user_dropdown.htm' %}
            </div>

            <!-- Dropdown buttons for large menu -->
            <div class="dropdown float-right">

                <!-- Translation dropdown -->
                <a data-toggle="dropdown" href="#">
                    <i class="d-none d-md-inline-block fas fa-large fa-globe-europe"></i>
                </a>
                <div class="dropdown-menu">
                    {% include 'navigation/language_dropdown.htm' %}
                </div>
            </div>
            <div class="dropdown float-right">

                <!-- User dropdown -->
                {% if current_user.is_anonymous %}
                    <a data-toggle="dropdown" href="#">
                        <i class="d-none d-md-inline-block fas fa-large fa-user"></i>
                    </a>
                {% else %}
                    <a data-toggle="dropdown" href="#">
                        <img class="d-none d-md-block img-rounded login-image" src="{{ url_for('user.view_avatar') }}">
                    </a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right login-container">
                    {% include 'navigation/user_dropdown.htm' %}
                </div>
            </div>
        </div>
    </nav>
