<template lang="pug">
div
    render-page(pageUrl="declaration")

    .row
        .col-md-12
            a-form(:form="form", @submit.prevent="send")
                a-form-item(v-bind="formItemLayout", :label="$t('First Name')")
                    a-input(
                        v-decorator="['first_name', { rules: [{ required: true, message: $t('Warning First Name') }]}]"
                    )
                a-form-item(v-bind="formItemLayout", :label="$t('Last Name')")
                    a-input(
                        v-decorator="['last_name', { rules: [{ required: true, message: $t('Warning Last Name') }]}]"
                    )
                a-form-item(v-bind="formItemLayout", :label="$t('Address')")
                    a-input(
                        v-decorator="['address', { rules: [{ required: true, message: $t('Warning Address') }]}]"
                    )
                a-form-item(v-bind="formItemLayout", :label="$t('Zip')")
                    a-input(
                        v-decorator="['zip', { rules: [{ required: true, message: $t('Warning Zip') }]}]"
                    )
                a-form-item(v-bind="formItemLayout", :label="$t('City')")
                    a-input(
                        v-decorator="['city', { rules: [{ required: true, message: $t('Warning City')}]}]"
                    )

                a-form-item(v-bind="formItemLayout", label="IBAN")
                    a-input(
                        v-decorator="['iban', { rules: [{ required: true, message: $t('Warning Iban') }]}]"
                    )

                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
                )
                    a-checkbox(
                        v-decorator="['save_iban', { valuePropName: 'checked', initialValue: false }]"
                    ) {{ $t('Save IBAN') }}
                    a-tooltip
                        template(slot="title")
                            | {{ $t('Alert') }}

                        a-icon(type="question-circle")

                a-form-item(v-bind="formItemLayout", :label="$t('Committee')")
                    a-select(
                        v-decorator="['committee', { rules: [{required: true, message: $t('Warning Committee') }]}]"
                    )
                        a-select-option(
                            v-for="group in userGroups",
                            :key="group.name"
                        ) {{ group.name }}

                a-form-item(v-bind="formItemLayout", :label="$t('Invoice')")
                    a-upload(
                        :multiple="true",
                        :beforeUpload="() => false",
                        :disabled="uploaded === true",
                        v-decorator="['file', { valuePropName: 'fileList', getValueFromEvent: e => e.fileList, rules: [{ required: true, message: $t('Warning Invoice') }]}]"
                    )
                        a-button
                            a-icon(type="upload")
                            | {{ $t('Select invoice or receipt') }}

                a-form-item(v-bind="formItemLayout", :label="$t('Amount')")
                    a-input(
                        type="number",
                        v-decorator="['amount', { rules: [{ required: true, message: $t('Warning Amount') }]}]",
                        :precision="2",
                        :step="0.01",
                        prefix="€"
                    )

                a-form-item(v-bind="formItemLayout", :label="$t('Reason')")
                    a-textarea(
                        v-decorator="['reason', { rules: [{ required: true, message: $t('Warning Reason') }]}]"
                    )

                a-form-item
                    a-button(type="primary", html-type="submit") {{ $t('Send') }}
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { userApi, Groups } from "../../scripts/api/user";
import { declarationApi, DeclarationBody } from "../../scripts/api/declaration";
import { User } from "../../types/user";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import {
    Button,
    Checkbox,
    Form,
    Icon,
    Input,
    Select,
    Tooltip,
    Upload,
} from "ant-design-vue";
import DeclarationOverview from "./declaration_overview.vue";
import RenderPage from "../page/render_page.vue";

@Component({
    components: {
        "a-upload": Upload,
        "a-tooltip": Tooltip,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-checkbox": Checkbox,
        "a-icon": Icon,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-textarea": Input.TextArea,
        "a-button": Button,
        "declaration-overview": DeclarationOverview,
        "render-page": RenderPage,
    },
    name: "declaration",
})
export default class Declaration extends Vue {
    private form: WrappedFormUtils | null = null;
    private user = new User();
    private userGroups: Groups[] = [];
    private uploaded = false;
    private fileData: [string, string][] = [];
    private formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        this.user = (await userApi.getUserData(null)).data;
        this.userGroups = (await userApi.getUserGroups(null)).data;

        this.form!.setFieldsValue({
            first_name: this.user.first_name,
            last_name: this.user.last_name,
            address: this.user.address,
            city: this.user.city,
            zip: this.user.zip,
            iban: this.user.iban,
            save_iban: !!this.user.iban,
        });
    }

    public async uploadFiles(files: File[]) {
        const formData = new FormData();

        for (let i = 0; i < files.length; i++) {
            formData.append("file " + String(i), files[i]);
        }

        try {
            const res = await declarationApi.uploadFile(formData);
            this.fileData = res.data.file_data;
        } finally {
            this.uploaded = true;
        }
    }

    public async send() {
        if (this.form) {
            this.form.validateFields(async (err, values) => {
                if (!err) {
                    await userApi.setUserData(null, {
                        first_name: values.first_name,
                        last_name: values.last_name,
                        address: values.address,
                        zip: values.zip,
                        city: values.city,
                        iban: values.save_iban ? values.iban : "",
                    });

                    await this.uploadFiles(
                        values.file.map((e) => e.originFileObj)
                    );
                    const data = new DeclarationBody(
                        this.fileData,
                        values.reason,
                        values.amount,
                        values.committee,
                        values.iban
                    );

                    await declarationApi.createDeclaration(data);
                    this.form!.setFieldsValue({
                        iban: values.save_iban ? values.iban : "",
                        save_iban: values.save_iban,
                        file: [],
                        reason: "",
                        amount: null,
                        committee: "",
                    });

                    this.$emit("submit");
                    this.uploaded = false;
                    this.$notification.success({
                        message: "Success",
                        description: "Declaration successfully uploaded.",
                    });
                }
            });

            this.form!.setFieldsValue({
                first_name: this.user.first_name,
                last_name: this.user.last_name,
                address: this.user.address,
                city: this.user.city,
                zip: this.user.zip,
                iban: this.user.iban,
                save_iban: !!this.user.iban,
                committee: "",
                amount: null,
                reason: "",
                file: null,
            });
        }
    }
}
</script>

<i18n>
{
    "en": {
        "First Name": "First name",
        "Last Name": "Last name",
        "Address": "Address",
        "Zip": "Zip",
        "City": "City",
        "Invoice": "Invoice or receipt",
        "Reason": "Reason",
        "Amount": "Amount",
        "Send": "Send",
        "Select invoice or receipt": "Select invoice or receipt",
        "Save IBAN": "Save IBAN",
        "Alert": "This allows us to store your IBAN for later declarations",
        "Committee": "Committee",
        "Warning First Name": "Please enter your first name!",
        "Warning Last Name": "Please enter your last name!",
        "Warning Address": "Please enter your address!",
        "Warning Zip": "Please enter your zip!",
        "Warning City": "Please enter your City!",
        "Warning Iban": "Please enter your IBAN!",
        "Warning Committee": "Please select a committee!",
        "Warning Invoice": "Please upload an invoice or receipt!",
        "Warning Amount": "Please give the amount of the declaration!",
        "Warning Reason": "Please give the purpose of the declaration!"
    },
    "nl": {
        "First Name": "Voornaam",
        "Last Name": "Achternaam",
        "Address": "Adres",
        "Zip": "Postcode",
        "City": "Stad",
        "Invoice": "Factuur of bonnetje",
        "Reason": "Reden",
        "Amount": "Bedrag",
        "Send": "Verstuur",
        "Select invoice or receipt": "Selecteer factuur of bonnetje",
        "Save IBAN": "IBAN opslaan",
        "Alert": "Dit staat ons toe om uw IBAN op te slaan voor latere declaraties",
        "Committee": "Commissie",
        "Warning First Name": "Gelieve uw voornaam in te vullen!",
        "Warning Last Name": "Gelieve uw achternaam in te vullen!",
        "Warning Address": "Gelieve uw address in te vullen!",
        "Warning Zip": "Gelieve uw postcode in te vullen!",
        "Warning City": "Gelieve uw stad in te vullen!",
        "Warning Iban": "Gelieve uw IBAN in te vullen!",
        "Warning Committee": "Gelieve een commissie te selecteren!",
        "Warning Invoice": "Gelieve een factuur of bonnetje up te loaden!",
        "Warning Amount": "Gelieve een bedrag in te vullen!",
        "Warning Reason": "Gelieve een reden in te vullen!"
    }
}
</i18n>

<style lang="sass">
.icon
    margin: 5px
</style>
