.pimpy-btn-group {
    margin-bottom: 8px;
}

.pimpy-group-head-td {
    border: none !important;
    padding: 0 !important;
}

.pimpy-group-head-td:hover {
    background: none !important;
}

.pimpy-user-head-td {
    border: none !important;
    padding: 0 !important;
}

.pimpy-user-head-td:hover {
    background: none !important;
}

.pimpy_line_number {
    width: 6%;
    float: left;
    padding-top: 8px;
    font-size: 10px;
    font-style: oblique;
}

.pimpy_minute_styled {
    padding: 10px;
    font-family: sans-serif;
}

a.pimpy_minute_line {
    display: block;
    color: black;
    padding: 2px 0px;
    text-decoration: none;
    border-bottom: 1px solid #efecec;
}

.logo.pimpy {
    float: right;
    margin-top: 13px;
    height: 100px;
}
