<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ $t('Create task') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )

        a-form-item(v-bind="formItemLayout", :label="$t('Name')")
            a-input(
                v-decorator="['title', {rules: [{ required: true, message: $t('Please enter task name') }]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Content')")
            a-textarea(
                v-decorator="['content', {initialValue: ''}]",
                :rows="10"
            )

        a-form-item(v-bind="formItemLayout", :label="$t('Group')")
            a-select(
                v-decorator="['group_id', { rules: [{required: true, message: $t('Please select a group') }]}]"
            )
                a-select-option(
                    v-for="userGroup in userGroups",
                    :value="userGroup.id",
                    :key="userGroup.id"
                ) {{ userGroup.name }}

        a-form-item(v-bind="formItemLayout", :label="$t('Users')")
            a-input(
                v-decorator="['users', {rules: [{ required: true, message: $t('Please enter users') }]}]"
            )

        a-form-item(v-bind="formItemLayout", :label="$t('Status')")
            a-radio-group(
                v-decorator="['status', { rules: [{required: true, message: $t('Please select a status') }], initialValue: 'new'}]"
            )
                a-radio-button(value="new") {{ $t('Not started') }}
                a-radio-button(value="started") {{ $t('Started') }}
                a-radio-button(value="done") {{ $t('Done') }}
                a-radio-button(value="remove") {{ $t('Not done') }}
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'pimpy-tasks' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Prop, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Groups } from "../../scripts/api/user";
import { pimpyApi } from "../../scripts/api/pimpy";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import { Button, Form, Input, Select, Spin, Radio } from "ant-design-vue";

@Component({
    methods: { moment: moment },
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-spin": Spin,
        "a-form-item": Form.Item,
        "a-textarea": Input.TextArea,
        "a-input": Input,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
    },
})
export default class CreateTask extends Vue {
    @Prop(Array) userGroups: Groups[];
    @Prop() groupId: number | null;
    loading = true;
    errors = [];
    form: WrappedFormUtils | null = null;
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        this.form!.setFieldsValue({
            group_id: this.groupId ? this.groupId : "",
        });
        this.loading = false;
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
            values["users"] = values["users"].split(",").map((e) => e.trim());
        } catch (e) {
            return; // Form didn't validate
        }
        try {
            this.loading = true;
            const resp = (await pimpyApi.createTask(values)).data;
            await this.$notification.success({
                message: this.$t("Success") as string,
                description: this.$t("Task succesfully created.") as string,
            });
            this.$router.push({
                name: "pimpy-tasks",
                params: { groupId: String(resp["group_id"]) },
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./create_task.json"></i18n>
