<template lang="pug">
router-link(
    :to="{ name: 'view-company-job', params: { jobId: job.id.toString() } }"
)
    a-card(hoverable, style="margin-bottom: 1rem;")
        a-row(
            type="flex",
            align="middle",
            justify="center",
            :gutter="[16, 16]"
        )
            a-col.company-logo(v-if="showLogo", :span="6")
                img(:src="imageUrl(job.company_id)")
            a-col(:span="centerBlockSize")
                h4 {{ title(job) }}
                span.badge.badge-info.mr-1(v-if="!job.active") inactive
                span.badge.badge-primary {{ job.contract_of_service }}
                span.description {{ description(job) }}
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import { CompanyJob } from "../../types/company";
import Flask from "../../utils/flask";
import { Marked, MarkedOptions } from "marked-ts";
import { PlainMarkdownRenderer } from "../../utils/PlainMarkdownRenderer";
import Vue from "vue";
import { Button, Card, Col, Icon, Row } from "ant-design-vue";

@Component({
    name: "company-job-list-element",
    components: {
        "a-col": Col,
        "a-row": Row,
        "a-button": Button,
        "a-icon": Icon,
        "a-card": Card,
    },
})
export default class CompanyJobListElement extends Vue {
    @Prop() private job: CompanyJob;
    @Prop({ default: true }) private showLogo: boolean;

    private centerBlockSize = 18;

    mounted() {
        if (!this.showLogo) {
            this.centerBlockSize = 24;
        }
    }

    private title(job: CompanyJob): string {
        switch (this.$viaduct.locale) {
            case "nl":
                return job.title_nl;
            default:
                return job.title_en;
        }
    }

    private description(job: CompanyJob): string {
        let text = "";
        const textLength = 125;

        const options = new MarkedOptions();
        options.renderer = new PlainMarkdownRenderer();

        switch (this.$viaduct.locale) {
            case "nl":
                text = job.description_nl;
                break;
            case "en":
                text = job.description_en;
                break;
        }

        if (text.length > textLength) {
            text = text.slice(0, textLength) + "...";
        }

        return Marked.parse(text, options);
    }

    private imageUrl(company_id: number | string): string {
        return Flask.url_for("company.view_logo", { company: company_id });
    }
}
</script>

<style scoped lang="sass">
.description
    display: block

.company-logo
    padding: 1.5rem !important

a
    text-decoration: none

    h4
        color: black
</style>
