<template lang="pug">
loading-container(:loading="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/")
                | {{ $t('breadcrumb.index') }}
        a-breadcrumb-item
            router-link(:to="{ name: 'company' }")
                | {{ $t('Partners') }}
        a-breadcrumb-item(v-if="!company.profile")
            | {{ company.name }}
        a-breadcrumb-item(v-else)
            router-link(
                :to="{ name: 'company-profile', params: { companySlug: this.company.slug } }"
            )
                | {{ company.name }}
        a-breadcrumb-item
            | {{ title }}

    a-row(:gutter="[32]")
        a-col(:xs="24", :md="8")
            .company-logo-wrapper
                img.company-logo(:src="imageUrl", :alt="company.name")

            a-divider(v-if="company.profile")

            a-row(v-if="company.profile")
                a-col(:xs="24")
                    router-link(
                        :to="{ name: 'company-profile', params: { companySlug: company.slug } }"
                    )
                        a-button(type="link", icon="profile")
                            | {{ $t('company.profile') }}

            a-row
                a-col(:xs="24", :sm="0")
                    a-divider

        a-col(:xs="24", :md="16")
            h3 {{ title }}
            p(v-html="content")
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import Vue from "vue";
import {
    CompanyInfo,
    CompanyJob as CompanyJobModel,
} from "../../types/company";
import { Marked } from "marked-ts";
import Flask from "../../utils/flask";
import { companyApi } from "../../scripts/api/company";
import LoadingContainer from "../loading_container.vue";
import { Breadcrumb, Button, Col, Divider, Icon, Row } from "ant-design-vue";

@Component({
    name: "company-job",
    components: {
        "loading-container": LoadingContainer,
        "a-button": Button,
        "a-row": Row,
        "a-col": Col,
        "a-divider": Divider,
        "a-icon": Icon,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class CompanyJob extends Vue {
    @Prop({ type: String }) private jobId: string;

    private companyJob: CompanyJobModel = new CompanyJobModel();
    private company: CompanyInfo = new CompanyInfo();

    private loading = true;

    async mounted(): Promise<void> {
        try {
            const jobResponse = await companyApi.getCompanyJob(this.jobId);
            this.companyJob = jobResponse.data;

            const companyResponse = await companyApi.getCompanyInfo(
                this.companyJob.company_id
            );
            this.company = companyResponse.data;
        } finally {
            this.loading = false;
            document.title = this.title + " - via";
        }
    }

    get title(): string {
        if (this.$viaduct.locale == "nl") {
            return this.companyJob.title_nl;
        } else {
            return this.companyJob.title_en;
        }
    }

    get content(): string {
        if (this.$viaduct.locale == "nl") {
            return Marked.parse(this.companyJob.description_nl);
        } else {
            return Marked.parse(this.companyJob.description_en);
        }
    }

    get imageUrl(): string {
        if (this.companyJob.id) {
            return Flask.url_for("company.view_logo", {
                company: this.companyJob.company_id,
            });
        } else {
            return "about:blank";
        }
    }
}
</script>

<style scoped lang="sass">
.company-logo
    margin-left: auto
    margin-right: auto
    max-height: 8rem
    display: block

.company-logo-wrapper
    width: 100%
    margin-top: 1rem
</style>
