<template lang="pug">
div
    legend {{ $t('User administrator properties') }}
    a-form(:form="form", @submit.prevent="save")
        a-form-item
            a-checkbox(
                v-decorator="['member', {valuePropName: 'checked', initialValue: false}]"
            ) {{ $t('Member') }}
        a-form-item
            a-checkbox(
                v-decorator="['favourer', {valuePropName: 'checked', initialValue: false}]"
            ) {{ $t('Favourer') }}
        a-form-item
            a-checkbox(v-model="member_of_merit") {{ $t('Member of merit') }}
            a-date-picker(
                v-if="member_of_merit",
                v-decorator="['member_of_merit_date', { rules: [{ required: member_of_merit, message: $t('member_of_merit_date.error') }] }]",
                :placeholder="$t('member_of_merit_date.placeholder')"
            )
        a-form-item(v-if="!!userId")
            a-checkbox(
                v-decorator="['disabled', {valuePropName: 'checked', initialValue: false}]"
            ) {{ $t('Disabled') }}
        a-form-item
            a-button(type="primary", html-type="submit") {{ $t('Save') }}

        a-form-item(v-if="!!userId")
            a-button(:href="anonymizeRoute", type="danger") {{ $t('Anonymize user') }}
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Flask from "../../utils/flask";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { userApi } from "../../scripts/api/user";
import { Button, Checkbox, DatePicker, Form } from "ant-design-vue";
import moment from "moment";
import { validateAntForm } from "../../utils/form";

@Component({
    components: {
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-checkbox": Checkbox,
        "a-button": Button,
        "a-date-picker": DatePicker,
    },
})
export default class UserEditAdminDataForm extends Vue {
    private form: WrappedFormUtils | null = null;
    private member_of_merit = false;

    created() {
        this.form = this.$form.createForm(this);
        // register date field to form explicitly, as it is initially hidden.
        this.form.getFieldDecorator("member_of_merit_date", {});
    }

    async mounted() {
        const resp = await userApi.getUserData(this.userId);
        this.member_of_merit = !!resp.data.member_of_merit_date;

        let data = {
            member: resp.data.member,
            favourer: resp.data.favourer,
            member_of_merit_date: resp.data.member_of_merit_date
                ? moment(resp.data.member_of_merit_date)
                : "",
        };

        if (this.userId) {
            data["disabled"] = resp.data.disabled;
        }

        this.form!.setFieldsValue(data);
        this.$forceUpdate();
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
            if (this.member_of_merit) {
                values["member_of_merit_date"] = values[
                    "member_of_merit_date"
                ].format("YYYY-MM-DD");
            } else {
                values["member_of_merit_date"] = null;
            }
        } catch (e) {
            return false; // Form didn't validate
        }
        await userApi.setUserData(this.userId, values);

        // Remove previous messages
        this.$notification.destroy();
        await this.$notification.success({
            message: "Success",
            description: this.$t("Settings successfully saved.") as string,
        });
    }

    private get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }

    private get anonymizeRoute() {
        return Flask.url_for("user.anonymize", { user: this.userId });
    }
}
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./edit_admin_data.json"></i18n>
