<template lang="pug">
div
    legend {{ $t('Connected applications') }}
    loading-container(:active="loading")
        a-list(item-layout="horizontal", :data-source="clients")
            a-list-item(slot="renderItem", slot-scope="item")
                a-list-item-meta
                    template(slot="title") {{ item.client_name }}
                    template(slot="avatar")
                        a-avatar(
                            :src="avatarLink(item.user.id)",
                            v-if="item.user"
                        )
                        a-avatar(src="/static/img/favicon-192x192.png", v-else)
                    template(slot="description")
                        | {{ $t('Owner') }}:&nbsp;
                        b(v-if="!item.user") via
                        span(v-else) {{ item.user.first_name }} {{ item.user.last_name }}
                a-popconfirm(
                    slot="actions",
                    :title="$t('confirmation_message')",
                    @confirm="() => revoke(item.client_id)"
                )
                    a-button(type="danger") {{ $t('Revoke') }}
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Flask from "../../utils/flask";
import { oAuthApi, OAuthClient } from "../../scripts/api/oauth";
import LoadingContainer from "../loading_container.vue";
import { Avatar, Button, List, Popconfirm } from "ant-design-vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-popconfirm": Popconfirm,
        "a-avatar": Avatar,
        "a-button": Button,
    },
})
export default class UserOAuthApplications extends Vue {
    private loading = true;
    private clients: OAuthClient[] = [];

    async mounted() {
        await this.reload();
    }

    async reload() {
        try {
            this.loading = true;
            if (this.userId) {
                const resp = await oAuthApi.getUserApplications(this.userId);
                this.clients = resp.data;
            } else {
                const resp = await oAuthApi.getUserSelfApplications();
                this.clients = resp.data;
            }
        } finally {
            this.loading = false;
        }
    }
    private get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }

    private avatarLink(userId) {
        return Flask.url_for("user.view_avatar", { user: userId });
    }

    private async revoke(clientId) {
        if (this.userId) {
            await oAuthApi.revokeUserApplication(this.userId, clientId);
        } else {
            await oAuthApi.revokeUserSelfApplication(clientId);
        }
        await this.reload();
    }
}
</script>

<style lang="sass"></style>

<i18n src="./oauth_applications.json"></i18n>
