<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") {{ $t('Create examination') }}
    h1(v-if="id") {{ $t('Edit examination') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", :label="$t('Course')")
            form-course-field(
                v-decorator="['course', { rules: [{ required: true, message: $t('Please select the course') }]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Date')")
            a-date-picker(
                v-decorator="['date', { rules: [{ required: true, message: $t('Please enter the date') }] }]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Examination type')")
            a-radio-group(
                v-decorator="['type', { initialValue: 'Mid-term', rules: [{required: true, message: 'Please select examination type'}]}]"
            )
                a-radio-button(value="Mid-term") {{ $t('Mid-term') }}
                a-radio-button(value="End-term") {{ $t('End-term') }}
                a-radio-button(value="Retake") {{ $t('Retake') }}
                a-radio-button(value="Unknown") {{ $t('Unknown') }}

        a-form-item(v-bind="formItemLayout", :label="$t('Comment')")
            a-input(v-decorator="['comment']")
        a-form-item(v-bind="formItemLayout", :label="$t('Exam')")
            a-upload(
                :beforeUpload="() => false",
                v-decorator="['exam_file', { valuePropName: 'fileList', getValueFromEvent: e => e.fileList, rules: [{ required: !examination_file_id, message: $t('Examination is required') }]}]"
            )
                a-button
                    a-icon(type="upload")
                    | {{ $t('Select exam file') }}
            a-button(
                :href="examURL",
                type="primary",
                v-if="examination_file_id",
                target="_blank"
            ) {{ $t('View current exam') }}
        a-form-item(v-bind="formItemLayout", :label="$t('Answers')")
            a-upload(
                :beforeUpload="() => false",
                v-decorator="['answers_file', { valuePropName: 'fileList', getValueFromEvent: e => e.fileList}]"
            )
                a-button
                    a-icon(type="upload")
                    | {{ $t('Select answers file') }}
            a-button(
                :href="answerURL",
                type="primary",
                v-if="answer_file_id",
                target="_blank"
            ) {{ $t('View current answers') }}
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'examination-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import FormCourseField from "../form/form_course_field.vue";
import {
    Button,
    DatePicker,
    Form,
    Icon,
    Input,
    Radio,
    Upload,
} from "ant-design-vue";
import { examinationApi } from "../../scripts/api/examination";
import moment from "moment";
import Flask from "../../utils/flask";
import LoadingContainer from "../loading_container.vue";

@Component({
    components: {
        "form-course-field": FormCourseField,
        "a-form": Form,
        "a-icon": Icon,
        "a-form-item": Form.Item,
        "a-date-picker": DatePicker,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-upload": Upload,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "loading-container": LoadingContainer,
    },
})
export default class EditExamination extends Vue {
    loading = true;
    answer_file_id: null | number = null;
    examination_file_id: null | number = null;
    form: WrappedFormUtils | null = null;
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        if (this.id) {
            const resp = (await examinationApi.getExam(this.id)).data;
            this.form!.setFieldsValue({
                course: {
                    key: resp.course.id,
                    label: `${resp.course.name} (${resp.course.datanose_code})`,
                },
                date: moment(resp.date),
                type: resp.test_type,
                comment: resp.comment,
            });
            this.examination_file_id = resp.examination_file_id;
            this.answer_file_id = resp.answers_file_id;
        }

        this.loading = false;
    }

    get id(): number {
        return parseInt(this.$route.params["examinationId"]);
    }

    get examURL(): string {
        return Flask.url_for("examination.view", {
            exam: this.id,
            doc_type: "exam",
        });
    }
    get answerURL(): string {
        return Flask.url_for("examination.view", {
            exam: this.id,
            doc_type: "answers",
        });
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }
        const body = {
            comment: values.comment,
            date: values.date.format("YYYY-MM-DD"),
            course_id: values.course.key,
            test_type: values.type,
        };
        try {
            this.loading = true;
            if (!this.id) {
                const resp = (await examinationApi.createExam(body)).data;
                await this.$router.replace({
                    name: "examination-edit",
                    params: { examinationId: String(resp.id) },
                });
            } else {
                await examinationApi.updateExam(this.id, body);
            }
            if (values.exam_file) {
                await examinationApi.uploadExamFile(
                    this.id,
                    values.exam_file[0].originFileObj,
                    "exam"
                );
            }
            if (values.answers_file) {
                await examinationApi.uploadExamFile(
                    this.id,
                    values.answers_file[0].originFileObj,
                    "answers"
                );
            }

            this.$notification.success({
                message: this.$t("Success") as string,
                description: this.$t(
                    "Examination successfully saved."
                ) as string,
            });
            this.$router.push({
                name: "examination-overview",
                query: { course_id: values.course.key },
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./edit_examination.json"></i18n>
