{% extends "base/en.html" %}

{% block title -%}
    The email address of your via account has been changed
{%- endblock %}

{% block content -%}
    The email address of your <b>via</b> account was changed from {{ old_email }} to
    {{ new_email }} at {{ date }} (Amsterdam time).

    If you did not trigger this change, please contact the board at
    <a href="mailto:bestuur@svia.nl">bestuur@svia.nl</a>.
{%- endblock %}
