<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") Create navigation entry
    h1(v-if="id") Edit navigation entry

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Dutch title")
            a-input(
                v-decorator="['nl_title', { rules: [{ required: true, message: 'Please enter the dutch title.' }]}]"
            )
        a-form-item(v-bind="formItemLayout", label="English title")
            a-input(
                v-decorator="['en_title', { rules: [{ required: true, message: 'Please enter the english title.' }]}]"
            )
        a-form-item(v-bind="formItemLayout", label="Navigation type")
            a-radio-group(
                v-decorator="['type', { initialValue: 'page', rules: [{required: true, message: 'Please select navigation type.'}]}]"
            )
                a-radio-button(value="page") Page
                a-radio-button(value="url") URL
                a-radio-button(value="activities") Activity overview
        a-form-item(
            v-bind="formItemLayout",
            label="Page",
            v-if="form.getFieldValue('type') === 'page'"
        )
            form-page-field(
                v-decorator="['page', {rules: [{required: form.getFieldValue('type') === 'page', message: 'Please select a page'}]}]"
            )
        a-form-item(
            v-bind="formItemLayout",
            label="URL",
            v-if="form.getFieldValue('type') === 'url'"
        )
            a-input(
                v-decorator="['url', { rules: [{ required: form.getFieldValue('type') === 'url', message: 'Please enter the URL.' }]}]",
                :addon-before="form.getFieldValue('external') ? 'https://' : '/'"
            )
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
            v-if="form.getFieldValue('type') === 'url'",
            extra="Links will open navigation in new browser tab"
        )
            a-checkbox(
                v-decorator="['external',  {valuePropName: 'checked', initialValue: false}]"
            ) Links to external webpage
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
            v-if="form.getFieldValue('type') !== 'activities'"
        )
            a-checkbox(
                v-decorator="['order_children_alphabetically',  {valuePropName: 'checked', initialValue: false}]"
            ) Sort sub-entries alphabetically

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="$route.meta.from || { name: 'navigation-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit") Submit
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import FormPageField from "../form/form_page_field.vue";
import { navigationApi } from "../../scripts/api/navigation";
import { Button, Checkbox, Form, Input, Radio } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";

@Component({
    components: {
        "a-input": Input,
        "a-form-item": Form.Item,
        "a-form": Form,
        "a-checkbox": Checkbox,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-button-group": Button.Group,
        "a-button": Button,
        "form-page-field": FormPageField,
        "loading-container": LoadingContainer,
    },
})
export default class EditNavigation extends Vue {
    private loading = true;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        if (this.id) {
            const resp = (await navigationApi.getEntry(this.id)).data;
            this.form!.setFieldsValue({
                nl_title: resp.nl_title,
                en_title: resp.en_title,
                type: resp.type,
            });
            // We can only do this in the next vue tick, as otherwise the v-decorators
            // have not been detected yet and we cannot set the specific type fields.
            this.$nextTick(() => {
                if (resp.type == "url") {
                    this.form?.setFieldsValue({
                        url: resp.url,
                        external: resp.external,
                        order_children_alphabetically:
                            resp.order_children_alphabetically,
                    });
                } else if (resp.type == "page") {
                    this.form?.setFieldsValue({
                        page: {
                            key: resp.page!.id,
                            label: resp.page!.path,
                        },
                        order_children_alphabetically:
                            resp.order_children_alphabetically,
                    });
                }
            });

            this.$forceUpdate();
        }
        this.loading = false;
    }

    get id() {
        return this.$route.params["entryId"];
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }
        try {
            this.loading = true;
            if (!this.id) {
                const parentId = this.$route.query["parentId"] as string;
                if (values.type == "page") {
                    values.page_id = values.page.key;
                }
                delete values.page;
                const resp = (await navigationApi.createEntry(values, parentId))
                    .data;

                this.$router.replace({
                    name: "navigation-edit",
                    params: { entryId: String(resp.id) },
                });
            } else {
                if (values.type == "page") {
                    values.page_id = values.page.key;
                }
                delete values.page;
                await navigationApi.updateEntry(this.id, values);
            }
            this.$notification.success({
                message: "Success",
                description: "Navigation successfully saved.",
            });
            this.$router.push({ name: "navigation-overview" });
        } finally {
            this.loading = false;
        }
    }
}
</script>
