{% extends "content.htm" %}

{% from 'macros/pagination.htm' import render_pagination %}

{% block title -%}
    {{ _('News') }}
{%- endblock title %}

{% block page %}
    <div class="row">
        <div class="col-6">
            <a-breadcrumb v-cloak>
                <a-breadcrumb-item>
                    <a href="{{ url_for("home.home") }}">{{ _('Home') }}</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item>
                    <a href="{{ url_for("news.root") }}">{{ _('News') }}</a>
                </a-breadcrumb-item>
            </a-breadcrumb>
        </div>
        <div class="col-6">
            <div class="btn-group float-right">
                {% if can_write %}
                    <a href="{{ url_for('news.edit') }}" class="btn btn-success">
                        {{ _('Create news item') }}
                    </a>
                {% endif %}

                <a href="{{ url_for('news.rss', locale=get_locale()) }}"
                   class="btn btn-light">
                    {{ _('RSS feed') }}
                </a>
            </div>
        </div>
    </div>
    <hr/>

    {% for item in news_items %}
        <article>
            <div class="row">
                <div class="col-md-8 title">
                    <a href="{{ url_for('news.view', news=item) }}">
                        <h3>{{ item.title }}</h3>
                    </a>
                    <div class="user">
                        <img class="avatar" alt="{{ item.user_name }}"
                             src="{{ item.user_avatar }}">
                        <div class="meta">
                            <span class="author">{{ item.user_name }}</span>
                            <span class="date">{{ item.publish_date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ item.content
                           | markdown_summary(300,
                                              truncate_method="paragraph",
                                              read_more=item.read_more) }}
                </div>
            </div>
        </article>
    {% endfor %}
    <hr />
    {{ render_pagination(paginator, 'news.root') }}
{% endblock %}
