<template lang="pug">
.row
    .col-12
        router-link(
            :to="{ name: 'tutor-profile', params: { userId: userId ? userId : 'self' } }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate", icon="left", type="link")
                | {{ $t('Back') }}
    .col-12.mb-3
        h1 {{ $t('Tutor registration') }}
        a-steps(type="navigation", v-model="currentStep", size="small")
            a-step(
                :title="$t('Personal information')",
                :description="$t('Verify your contact information')"
            )
            a-step(
                :title="$t('steps.2.title')",
                :description="$t('steps.2.description')",
                :disabled="currentStep <= 0"
            )
            a-step(
                :title="$t('Awaiting approval')",
                :description="$t('Awaiting VIA confirmation')",
                :disabled="true"
            )

    .col-12(v-show="currentStep === 0")
        a-form(:form="form0", @submit.prevent="save")
            a-form-item(v-bind="formItemLayout", :label="$t('E-mail address')")
                a-input(
                    v-decorator="['email', { rules: [{ required: true, message: 'Please enter your e-mail address.' }, {validator: emailValidation}]}]"
                )
            a-form-item(v-bind="formItemLayout", :label="$t('First name')")
                a-input(
                    v-decorator="['first_name', { rules: [{ required: true, message: 'Please enter your first name.' }]}]"
                )
            a-form-item(v-bind="formItemLayout", :label="$t('Last name')")
                a-input(
                    v-decorator="['last_name', { rules: [{ required: true, message: 'Please enter your last name.' }]}]"
                )
            a-form-item(v-bind="formItemLayout", :label="$t('Phone number')")
                a-input(
                    v-decorator="['phone_nr', { rules: [{ required: true, message: 'Please enter your phone number.' }]}]"
                )
            a-form-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
            )
                a-alert.mb-3(:message="$t('alert.save.warning')")
                a-button-group
                    router-link(
                        :to="{ name: 'tutor-profile', params: { userId: userId ? userId : 'self' } }",
                        v-slot="{href, navigate}"
                    )
                        a-button(:href="href", @click="navigate")
                            | {{ $t('Back') }}
                    a-button(type="primary", html-type="submit") {{ $t('Next') }}
    .col-12(v-show="currentStep === 1")
        tutor-course-form(@form-submit="(e) => courses.push(e)")

        hr
        a-form(:form="form1", @submit.prevent="save")
            a-form-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
            )
                a-list
                    a-list-item(
                        v-for="(item, index) in courses",
                        :key="item.course_id"
                    )
                        a-list-item-meta(
                            :title="item.course.label",
                            :description="$t('course.list.description', { grade: item.grade / 10 })"
                        )
                        template(v-slot:actions="")
                            a(@click="() => courses.splice(index, 1)") {{ $t('Remove') }}
                    a-list-item(v-if="!courses.length")
                        a-list-item-meta(
                            :title="$t('course.list.empty.title')",
                            :description="$t('course.list.empty.description')"
                        )

            a-form-item(
                v-bind="formItemLayout",
                :label="$t('Hours expected')",
                :extra="$t('Availability on a weekly basis')"
            )
                a-input-number(
                    v-decorator="['num_hours', { rules: [{ required: true, message: 'Please enter the expected number tutoring hours.' }], initialValue: 1}]",
                    :min="0"
                )
            a-form-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
            )
                a-button-group
                    a-button(@click="currentStep -= 1") {{ $t('Back') }}
                    a-button(type="primary", html-type="submit") {{ $t('Submit') }}
    .col-12(v-show="currentStep === 2")
        a-empty
            i18n(path="waiting", tag="div", slot="description")
            router-link(
                :to="{ name: 'tutor-profile', params: { userId: userId ? userId : 'self' } }",
                v-slot="{ href, navigate}"
            )
                a-button(:href="href", @click="navigate", icon="user")
                    | {{ $t('Show tutor profile') }}
</template>

<style lang="sass"></style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { emailValidation, validateAntForm } from "../../utils/form";
import { userApi } from "../../scripts/api/user";
import { tutoringApi } from "../../scripts/api/tutoring";
import TutorCourseForm from "./TutorCourseForm.vue";
import {
    Alert,
    Button,
    Empty,
    List,
    Form,
    Input,
    InputNumber,
    Steps,
} from "ant-design-vue";

@Component({
    methods: {
        emailValidation: emailValidation,
    },
    components: {
        "tutor-course-form": TutorCourseForm,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-steps": Steps,
        "a-step": Steps.Step,
        "a-alert": Alert,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-input": Input,
        "a-input-number": InputNumber,
        "a-empty": Empty,
    },
})
export default class TutorCourseRegister extends Vue {
    // TODO Make the course type definition be an actual course.
    // https://gitlab.com/studieverenigingvia/viaduct/-/issues/920
    private courses: {
        course: { key: number; label: string };
        grade: number;
    }[] = [];
    private currentStep = 0;
    private form0: WrappedFormUtils;
    private form1: WrappedFormUtils;

    get userId(): number | null {
        if (this.$route.params["userId"] === "self") {
            // "self" route
            return null;
        }
        return Number(this.$route.params["userId"]);
    }

    created() {
        this.form0 = this.$form.createForm(this);
        this.form1 = this.$form.createForm(this);
    }

    async mounted() {
        const user = (await userApi.getUserData(null)).data;
        this.form0.setFieldsValue(
            (({ first_name, last_name, email, phone_nr }) => ({
                first_name,
                last_name,
                email,
                phone_nr,
            }))(user)
        );
    }

    async save() {
        if (this.currentStep === 0) {
            let values;
            try {
                values = await validateAntForm(this.form0!);
            } catch (e) {
                return; // Form didn't validate
            }
            await userApi.setUserData(this.userId, values);
            // Update user data
            this.currentStep = 1;
        } else if (this.currentStep === 1) {
            if (!this.courses.length) {
                this.$notification.warning({
                    message: this.$t("course.list.empty.title") as string,
                    description: this.$t(
                        "course.list.empty.description"
                    ) as string,
                });
                return;
            }
            let values;
            try {
                values = await validateAntForm(this.form1!);
            } catch (e) {
                return; // Form didn't validate
            }
            // TODO Remove the dependency on .key, by letting form-course-field emit course objects instead of custom objects.
            // https://gitlab.com/studieverenigingvia/viaduct/-/issues/920
            values["courses"] = this.courses.map((e) => ({
                grade: e.grade,
                course_id: e.course.key,
            }));
            (await tutoringApi.registerTutor(this.userId, values)).data;
            this.currentStep = 2;
        }
    }

    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            md: { span: 4 },
        },
        wrapperCol: {
            xs: { span: 24 },
            md: { span: 18 },
        },
    };
}
</script>

<i18n src="./tutor_course_register.json"></i18n>
