<template lang="pug">
a-form(:form="form", @submit.prevent="save")
    a-form-item(v-bind="formItemLayout", :label="$t('Course')")
        form-course-field(
            v-decorator="['course', { rules: [{ required: true, message: $t('form.course.required') }]}]"
        )
    a-form-item(
        v-bind="formItemLayout",
        :label="$t('Grade')",
        :extra="$t('Grade acquired while following the course')"
    )
        a-input-number(
            v-decorator="['grade', { rules: [{ required: true, message: $t('form.grade.required') }], initialValue: 7.0}]",
            :min="0",
            :max="10",
            :step="0.5"
        )
    a-form-item(
        :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
    )
        a-button(type="primary", html-type="submit") {{ $t('button.course.add') }}
</template>

<style lang="sass"></style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { validateAntForm } from "../../utils/form";
import FormCourseField from "../form/form_course_field.vue";
import { Button, Form, InputNumber } from "ant-design-vue";

@Component({
    components: {
        "form-course-field": FormCourseField,
        "a-button": Button,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input-number": InputNumber,
    },
})
export default class TutorCourseForm extends Vue {
    private form: WrappedFormUtils;

    created() {
        this.form = this.$form.createForm(this);
    }

    async save() {
        let values;
        try {
            values = await validateAntForm(this.form);
            values["course_id"] = values.course.key;
            values["grade"] = values.grade * 10;
            this.$emit("form-submit", values);
            this.form.setFieldsValue({ course: undefined });
        } catch (e) {
            return; // Form didn't validate
        }
    }

    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            md: { span: 4 },
        },
        wrapperCol: {
            xs: { span: 24 },
            md: { span: 18 },
        },
    };
}
</script>

<i18n src="./tutor_course_register.json"></i18n>
