{% extends "content.htm" %}

{% block title %}Error 400{% endblock %}

{% block content %}
    <h1>{{ _('Error 409 - Conflict') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {{ _('A conflict happened while processing the request. The resource might have been modified while the request was being processed.') }}
            </p>
        </div>
    </div>
{% endblock %}
