{% extends "content.htm" %}

{% from "macros/form.htm" import render_submit %}

{% block title%}{{ _('Page history') }}{% endblock %}

{% block page %}
    <h1>Page History</h1>
    <form action="" method="post" name="history">
        <fieldset>
            {{ form.csrf_token }}

            <div class='table-responsive'>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{_('Comment')}}</th>
                            <th>{{_('User')}}</th>
                            <th>{{_('Previous')}}</th>
                            <th>{{_('Current')}}</th>
                            <th>{{_('Timestamp')}}</th>
                            <th>{{_('View')}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for revision, previous, current in revisions %}
                            <tr>
                                <td>{{ revision.id }}</td>
                                <td>{{ revision.comment }}</td>
                                {% if revision.user %}
                                    <td>{{ revision.user.first_name }} {{ revision.user.last_name }}</td>
                                {% else %}
                                    <td>{{ _("Unknown") }}</td>
                                {% endif %}
                                <td>{{ previous }}</td>
                                <td>{{ current }}</td>
                                <td>{{ revision.created | datetime }}</td>
                                <td><a href="{{ url_for("page.get_page_revision", revision_id=revision.id, path=page.path) }}">{{ _("View") }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {{ render_submit(_('Compare')) }}
        </fieldset>
    </form>
{% endblock %}
