{% extends 'content.htm' %}

{% block content %}
    <div class='mainblock'>
        <div class='pb-2 mt-2 mb-2 border-bottom'>
            {% if can_write %}
                <div class='btn-group float-right'>
                    {% if page.id %}
                        <a class='btn btn-light' href="{{ url_for('page.get_page_history', page_id=page.id) }}">
                            <i class="fas fa-history"></i> {{_('Show history') }}
                        </a>
                    {% endif %}
                    <a class='btn btn-warning' href="{{ url_for('pages.view', page=page) }}">
                        <i class='far fa-edit'></i> {{_('Edit page')}}
                    </a>
                </div>
            {% endif %}

            <h1>{% block page_title %}{% endblock %}</h1>
        </div>

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
