{%- from "macros/flash.htm" import render_flash -%}
{%- from "macros/base.htm" import render_membership_confirmation_pending_message, render_banner -%}

<!DOCTYPE html>
<html lang="{{ locale }}" prefix="og: http://ogp.me/ns#">
    <head>
        {% set seo_fields = get_seo_fields(locale) %}
        {% set title_s %}{%- block title -%}{% endblock %} - via{% endset %}
        <title>{{ title_s }}</title>

        <meta name="description" content="{{seo_fields.description}}" />
        <meta name="keywords" content="{{seo_fields.tags}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="{{ title_s }}" />
        <meta property="og:description" content="{{seo_fields.description}}" />
        <meta property="og:url" content="{{ request_url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="{{ get_locale() }}_NL"/>

        {% block og_image %}
            <meta property="og:image" content="{{ request_url_root }}static/img/via_facebook_thumbnail.png" />
            <meta property="og:image:alt" content="via logo" />
            <meta property="og:image:type" content="image/png" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
        {% endblock %}

        <!-- <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"> -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico', v='gAdm72Y3wv') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg', v='gAdm72Y3wv') }}" color="#5bbad5">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png', v='gAdm72Y3wv') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon-192x192.png', v='gAdm72Y3wv') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png', v='gAdm72Y3wv') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png', v='gAdm72Y3wv') }}">
        <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest', v='gAdm72Y3wv') }}">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-config" content="{{ url_for('static', filename='img/browserconfig.xml', v='gAdm72Y3wv') }}">
        <meta name="theme-color" content="#ffffff">

        <link href="{{static_url(url_for('static', filename='styles.css')) }}" rel="stylesheet" />

        {% if not app_config['DEBUG'] %}
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PKHM7J9');</script>
        {% endif %}

        <script>
            window.viaduct = {};
            window.viaduct.locale = "{{get_locale()}}";
            SentryConfig = {
                dsn: "{{ app_config['SENTRY_DSN_FRONTEND'] }}",
                release: "{{ app_version }}",
                environment: "{{ app_config['ENVIRONMENT'] }}",
            }
        </script>
        <script src="{{static_url(url_for('home.serve_js'))}}"></script>

        {% block includes %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>
        {%- if not (__fullscreen_mode is defined and __fullscreen_mode) -%}
            {% include 'navigation/view_bar.htm' %}

            {% if membership_view.membership_confirmation_pending %}
                {{ render_membership_confirmation_pending_message(current_user) }}
            {% endif %}

            {% if banner_view.show_banner %}
                {{ render_banner(banner_view) }}
            {% endif %}

        {%- endif -%}
        {% block below_menu %}
        {% endblock %}

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKHM7J9"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        <div class="container" id="container-main">
            <div class="row">
                <div class="col-sm-12" id="messages">
                    {{ render_flash() }}
                </div>
            </div>

            {% block page %}
            {% endblock %}

            <hr>
            <footer-carousel></footer-carousel>
        </div>

        {%- if not (__fullscreen_mode is defined and __fullscreen_mode) -%}
            {% include 'page/get_footer.htm' %}
        {%- endif -%}

        <script src="{{ static_url(url_for('static', filename='main.js')) }}"></script>
        {% block post_main_include %}
        {% endblock %}
    </body>
</html>
